<md-card>

  <div style="display: flex; align-items: center">
  
    <img [src]="picUrl(animal.pic)" style="height: 50px;" *ngIf="animal.pic">
  
    <!-- Display or Edit Animal -->
    <div style="padding: 5px; flex: 1">
      <div *ngIf="!animalSettings.isBeingEdited">
        {{animal.name}}
      </div>
      <md-input-container *ngIf="animalSettings.isBeingEdited">
        <input mdInput placeholder="Animal's Name" [(ngModel)]="animalCopy.name"/>
      </md-input-container>
      <button color="accent" md-raised-button *ngIf="animalSettings.isBeingEdited" (click)="updateAnimal()">Update Animal</button>
    </div>
  
    <div>
      <button md-button color="primary" (click)="resetCopy(); toggleEditable();">
        <md-icon *ngIf="!animalSettings.isBeingEdited">edit</md-icon>
        <md-icon *ngIf="animalSettings.isBeingEdited">cancel</md-icon>
      </button>
    </div>
    
    <animal-delete [animal]="animal"></animal-delete>
    
  </div>
  
</md-card>
