<a name="animal-input"></a>
<md-card>
  <div class="center">
    <div>
      <md-input-container class="full-width">
        <input mdInput
               id="animal-input"
               type="text"
               placeholder="Animal's Name"
               (keypress)="createAnimalOnEnter($event)"
               [(ngModel)]="newAnimal.name">
      </md-input-container>
    </div>
    <div>
      <button md-raised-button color="accent" (click)="createAnimal()">Create</button>
    </div>
  </div>
</md-card>
